* {
    font-family: JetBrains Mono, monospace;
    font-size: 13px;
    color: #ffffff;
}

window#waybar {
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#workspaces button {
    padding: 0 8px;
    margin: 0 4px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    color: #ffffff;
}

#workspaces button.focused {
    border: 1px solid #64727d;
    background: transparent;
    color: #ffffff;
}

#clock {
    padding: 0 10px;
    margin: 0 4px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

#cpu, #custom-gpu, #memory, #battery, #bluetooth, #tray {
    padding: 0 10px;
    margin: 0 4px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

#battery.warning {
    border: 1px solid #ff5555;
    color: #ff5555;
}

#battery.critical {
    border: 1px solid #ff0000;
    color: #ff0000;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .active {
    -gtk-icon-effect: highlight;
}
